<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Formas</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans antialiased">
    <div class="min-h-screen">
        <div class="py-2">
            <div id="menu" class="absolute p-6"></div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-6">
                <div class="overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 dark:text-gray-100">

                        <!-- <?php include('../components/message.php') ?> -->

                        <form method='POST' action="index.php">

                            <div class="collapse collapse-arrow bg-base-200 border border-primary mb-4">
                                <input type="checkbox" />

                                <div class="collapse-title text-xl font-medium">Nova unidade de medida</div>

                                <div class="collapse-content">
                                    <div class="grid grid-cols-4 gap-x-4">

                                        <div class="col-span-4 flex w-full flex-col">
                                            <div class="divider divider-neutral">unidade de medida</div>
                                        </div>

                                        <input type="hidden" name="id" id="id" value=":id" readonly>

                                        <label for="color" class="form-control w-full max-w-xs">
                                            <div class="label">
                                                <span class="label-text">Qual é a unidade de medida?</span>
                                            </div>
                                            <input 
                                                type="measurement" 
                                                name="measurement" 
                                                id="measurement" 
                                                value=":measurement" 
                                                class="input input-bordered input-sm w-full max-w-xs" 
                                            />
                                        </label>
                                        
                                    </div>  
                                    <div class="flex gap-2 flex-row-reverse mt-4">
                                        <button value="salvar" name="acao" class="btn btn-outline btn-primary">Salvar</button>    
                                        <button value="excluir" name="acao" class="btn btn-outline btn-error">Excluir</button>
                                        <a href="index.php" class="btn btn-outline">Voltar</a>
                                        <button type="reset" class="btn btn-outline">Apagar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>